#app-list {
    flex-wrap: wrap;
}

.app-tile-div {
    width: 13rem;
}

.app-tile-img {
    cursor: pointer;
}

.category-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}