#app-list {
    flex-wrap: wrap;
}

.app-tile-div {
    width: 13rem;
}

.app-tile-img {
    cursor: pointer;
}

.category-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.category-selected {
    font-weight: bold;
}

.github-href {
    text-decoration: none;
    color: inherit;
}

.github-href:hover {
    color: inherit;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #7c4dff; /* 'Solid' purple */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}